/*******************************************
                BLOC FLEX
*******************************************/
#bloc_flex {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#bloc_flex .container_submit {
    display: flex;
}

#bloc_flex fieldset {
    margin: 5px auto 30px;
    padding: inherit;
    width: 100% !important;
}
#bloc_flex fieldset legend {
    border: 0;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0 30px;
    width: inherit;
}

/*******************************************
                BLOC REGISTER
*******************************************/
#bloc_form_register {
    padding-bottom: 15px;
}
#bloc_form_register .container_submit {
    justify-content: space-around;
}

/*******************************************
                BLOC LOGIN
*******************************************/
#form_login label.control-label {
    line-height: 30px;
}
#form_login input[type=text], input[type=password] {
     margin-bottom: 10px;
}



#form_login .container_submit {
    justify-content: flex-end;
    margin-bottom: 5px;
    padding-right: 0;
}



#form_login #container_help {
    color: #222;
    font-size: 11px;
    margin-bottom: 15px;
    opacity: 0.8;
}
#form_login #container_help a {
    color: #222;
    display: inline-block;
    font-weight: 400;
    opacity: 1;
    text-decoration: none;
    transition: opacity ease 0.5s;
}
