/*******************************************
                BLOC NAVBAR
*******************************************/
.navbar {
    background: #efefef !important;
    height: 60px;
    min-height: 60px !important;
}
.navbar::after {
    border-bottom: 3px solid #ff8500;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.navbar-default {
    border: 0 !important;
}
header {
    height: 60px;
    width: 100%;
    z-index: 2;
}

/*******************************************
                BLOC LOGO
*******************************************/
#header_logo {

}
#header_logo #header_image_logo {
    height: 80px;
    margin: 0 15px;
    width: 100px;
}

/*******************************************
                BLOC CLIENT
*******************************************/
#header_client {

}
#header_client #header_image_logo_client {
    height: 80px;
    margin: 0 15px;
    width: 180px;
}

/*******************************************
                BLOC LOGIN
*******************************************/
#header_login {
    padding: 20px 10px 10px 10px;
}
