html, body {
    background: #fff;
    font-family: Arial, Calibri, sans-serif !important;
    font-size: 13px !important;
    height: 100%;
    margin: 0;
    min-width: 800px;
    padding: 0;
}
body {
    padding-top: 60px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.textUnderline { text-decoration: underline; }
.textLeft { text-align: left !important; }
.textCenter { text-align: center; }
.textRight { text-align: right; }

.hidden { display: none; }

.textBold { font-weight: bold; }
.textItalic { font-style: italic;font-size: 12px; }
.clear { clear: both; }
.noPuce { list-style-type: none; }

.lineHeight30 { line-height: 30px;}
.marginBottom7 { margin-bottom: 7px; }
.marginBottom10 { margin-bottom: 10px; }
.marginBottom17 { margin-bottom: 17px; }
.marginBottom20 { margin-bottom: 20px; }
.marginBottom40 { margin-bottom: 40px; }
.marginBottom400 { margin-bottom: 400px; }
.marginLeft10 { margin-left: 10px; }
.marginTop7 { margin-top: 7px; }
.marginTop10 { margin-top: 10px; }
.marginTop20 { margin-top: 20px; }
.marginTop50 { margin-top: 50px; }
.marginTop70 { margin-top: 70px; }
.noMargin { margin: 0 !important; }
.noPadding { padding: 0 !important; }
.padding13 { padding: 13px; }
.paddingBottom10 { padding-bottom: 10px; }
.paddingBottom15 { padding-bottom: 15px; }
.paddingLeft10 { padding-left: 10px; }

a:focus, a:hover, a.no-underline { outline: 0;text-decoration: none; }

/*******************************************
                ACCUEIL STYLE
*******************************************/
.accueilStyleBloc {
    background-color: rgba(247,247,247, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/*******************************************
            BLOC TITLE STYLE
*******************************************/
#bloc_title { border-bottom: 1px solid #77b636; }
#bloc_title h2 { font-size: 19px;margin-bottom: 0;padding-right: 35px; }

/*******************************************
            BUTTON ACTION STYLE
*******************************************/
.container_action { position: absolute;right: 0;margin-top: -25px; }
#action_back { margin-right: 0; }
#action_create { margin-right: 0; }
#action_update { margin-right: 28px; }

/*******************************************
                TABLE STYLE
*******************************************/
.big_table { table-layout: fixed;width: 100% !important; }
.small_table { min-width: 100% !important; }
.table thead { font-size: 0.85em !important; }
.table tbody { font-size: 0.95em !important; }
.table .breakWord { overflow: hidden;text-overflow: ellipsis; }
.dataTables_wrapper div:nth-child(3) { padding-top: 15px; }

/*******************************************
                UP STYLE
*******************************************/
.UPColor { color:#F89406; }






.fontSize9 { font-size: 0.95em; }

#notification, .notification { margin-bottom: 10px;font-weight: bold; }
.modalBackdrop { background-color: rgba(0, 0, 0, 0.3); }
