/*******************************************
                TOOLTIP
*******************************************/
.tooltip > .tooltip-inner,
.tooltip.bottom .tooltip-inner {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #000;
    color: #000;
    font-size: 12px;
    max-width: 500px;
    padding: 10px;
}

.tooltip.bottom > .tooltip-arrow,
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #000 !important;
}
