{# src/blackLabel/ImportBundle/Resources/views/Homepage/index.html.twig #}
{% extends "whiteLabelBackOfficeBundle::layout_core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/blacklabelimport/css/homepage/index.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block contents %}
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 hidden" id="content-wrapper">
    <h2 class="text-center">Import Homepage</h2>

</div>
{% endblock %}
