{# src/whiteLabel/BackOfficeBundle/Resources/views/LettreCheque/inc/view/file.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-file">
    <fieldset>
        <legend><span class="legend-icon"></span>&nbsp;Information</legend>

        {% set typeArray = {
            '0 | particulier': 'Particulier',
            '1 | societe': 'Société',
            '': '-'
        } %}

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Type de b&eacute;n&eacute;ficiaire :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {{ typeArray[lettreCheque.typeBeneficiaire] }}
            </div>
        </div>

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Nom du mod&egrave;le :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {{ lettreCheque.nomModele }}
            </div>
        </div>

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Fichier :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {% if lettreCheque and lettreCheque.fileUrl %}
                <a href="{{ path('upload_read', {'uploadId': lettreCheque.id, 'fileKey': 1, 'extension': lettreCheque.fileUrl, 'folderKey': 1}) }}" target="_blank">
                    Voir le fichier
                </a>
                {% else %}
                    Aucun fichier t&eacute;l&eacute;charg&eacute;
                {% endif %}
            </div>
        </div>

    </fieldset>
</div>
