/*******************************************
            SURCHARGE HEADER.CSS
*******************************************/
html, body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/background/bg2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
@media only screen and (max-width: 767px) {
    body#page_error {
        background-image: url("../../images/background/bg2.jpeg");
    }
}
.navbar {
    background: transparent !important;
}
.navbar::after {
    border-bottom: 0;
}

/*******************************************
                BLOC CONTENT
*******************************************/
#bloc_form {
    font-size: 12px;
    margin: auto;
    max-width: 350px;
    padding: 0 30px;
    width: 100% !important;
}



#bloc_form label.control-label {
    line-height: 30px;
}
#bloc_form input[type=text], input[type=password] {
    margin-bottom: 10px;
}



#bloc_form .container_submit {
    padding-right: 0;
}



#bloc_form #container_help {
    color: #222;
    font-size: 11px;
    margin-bottom: 15px;
    opacity: 0.8;
}
#bloc_form #container_help a {
    color: #222;
    display: inline-block;
    font-weight: 400;
    opacity: 1;
    text-decoration: none;
    transition: opacity ease 0.5s;
}
