{# src/whiteLabel/BackOfficeBundle/Resources/views/ModeleLettre/inc/back.html.twig #}
<a href="{{ path('modeleLettre_list', {'clientId': clientId}) }}"
   class="btn btn-info btn-xs container_action"
   id="action_back"
   role="button"
   data-toggle="tooltip"
   data-placement="bottom"
   data-container="body"
   title="Retour"
>
    <i class="glyphicon glyphicon-backward"></i>
</a>
