/*******************************************
                FORM STYLE
*******************************************/
.required:after { content: " *";color: #D20A28; }

.form-group {
    font-size: 12px;
    margin-bottom: 7px;
}

fieldset legend {
    border: 0;
    color: #77b636;
    font-size: 16px;
    margin-top: 6px;
    width: inherit;
    padding-top: 15px;
}

.legend-icon {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: #8dccc4;
    border-radius: 7px 0 7px 0;
    -webkit-border-radius: 7px 0 7px 0;
    -moz-border-radius: 7px 0 7px 0;
}

label {
    text-align: right;
}



.row label { font-size: 0.95em; }
select option, textarea, .form-control { font-size: 12px; }
input { outline: 0; }
input[type=text], input[type=password], input[type=url], input[type=email] {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 12px;
    height: 30px;
    padding: 0 8px;
}
input[type=text]:hover, input[type=password]:hover, input[type=type]:hover, input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}



input[type=checkbox] {
    vertical-align: bottom;
}
input[type=checkbox] + label {
    line-height: 0;
}



input[type=file] {
    width: 100%;
}



#container_submit {
    padding: 15px 0;
}
input[type=submit] {
    display: block;
    position: relative;
    width: 100%;
}
.modal-body input[type=submit] {
    display: inline-block;
    width: inherit;
}



input::-webkit-input-placeholder { text-align: left; }
input:-moz-placeholder { text-align: left; }
input::-moz-placeholder { text-align: left; }
input:-ms-input-placeholder { text-align: left; }

input:-moz-read-only:not([type="submit"]) {
    background: repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -webkit-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -moz-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -ms-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -o-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
}
input:read-only:not([type="submit"]) {
    background: repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -webkit-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -moz-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -ms-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
    background: -o-repeating-linear-gradient(135deg, rgba(119,182,54,0.5) 1px, rgba(119,182,54,0.5) .10em, #fff calc(.15em + 1px), #fff .65em) !important;
}

/*******************************************
            CUSTOM SELECT STYLE
*******************************************/
.custom-select {
    line-height: 3;
    border-radius: .25em;
}
select::-ms-expand {
    display: none;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    padding: 0 1em;
    background: #77b636;
    pointer-events: none;
    color: #FFF;
}
.custom-select:hover::after {
    color: #FFF;
}
.custom-select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
select option {
    padding: 5px;
}

/*******************************************
            CUSTOM ERROR STYLE
*******************************************/
ul.file-error, .form-error > ul {
    padding: 0;
}
ul.file-error li, .form-error > ul li {
    list-style-type: none;
    color: red;
    text-align: left;
}
ul.file-error li::before, .form-error > ul li::before {
    content: '\03a7';
    margin-right: 5px;
    font-weight: bold;
}



ul.list_error, .wrapper_error > ul {
    padding: 0;
}
ul.list_error li, .wrapper_error > ul li {
    list-style-type: none;
    color: red;
    text-align: left;
}
ul.list_error li::before, .wrapper_error > ul li::before {
    content: '\03a7';
    margin-right: 5px;
    font-weight: bold;
}

/*******************************************
                LIMIT STYLE
*******************************************/
.bloc-limit {
    margin: 20px 0 0 0;
    padding: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(239,239,239,0.5) 50%,rgba(255,255,255,0.5) 100%);
}
