{# src/whiteLabel/BackOfficeBundle/Resources/views/Client/inc/view/information.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-information">
    <fieldset>
        <legend><span class="legend-icon"></span>&nbsp;Information</legend>

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Nom :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {{ client.clientInformation.nom }}
            </div>
        </div>

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Interlocuteur :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {{ client.clientInformation.interlocuteur }}
            </div>
        </div>

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Titre Dispositif :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {{ client.clientInformation.titreDispositif ? client.clientInformation.titreDispositif : '-' }}
            </div>
        </div>

        <div class="row">
            <label class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label">Logo :</label>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {% if client and client.clientInformation and client.clientInformation.logoUrl %}
                    <a href="{{ path('upload_read', {'uploadId': client.clientInformation.id, 'fileKey': 0, 'extension': client.clientInformation.logoUrl, 'folderKey': 0}) }}" target="_blank">
                        Voir le fichier
                    </a>
                {% else %}
                    Aucun fichier t&eacute;l&eacute;charg&eacute;
                {% endif %}
            </div>
        </div>

    </fieldset>

    <hr class="bloc-limit">
</div>
