.col0 { width:40px; }
.col1 { width:100px; }
.col2 { }
.col3 { width:180px; }
.col4 { width:40px; }

/*******************************************
            MODAL PARAMETERS
*******************************************/
div.modal_commentaire {
    padding-top: 80px;
}
div.modal_commentaire legend {
    border-bottom: 0;
}
