.col0 { width:40px; }
.col1 { width:40px; }
.col2 { width:120px; }
.col3 { width:130px; }
.col4 { width:30px; }
.col5 { width:70px; }
.col6 { width:50px; }
.col7 { width:15%; }
.col8 { width:40px; }
.col9 { width:20%; }
.col10 { width:40px; }
