/*******************************************
            BLOC TABLE
*******************************************/
.col0 { width: 3%; }
.col1 { width: 10%; }
.col2 { width: 9%; }
.col3 { width: 9%; }
.col4 { width: 13%; }
.col5 { width: 70px; }
.col6 { width: 50px; }
.col7 { width: 50px; }
.col8 { width: 40px; }

th[class="with_search"] input {
    width: 100%;
    font-size: 11px;
}
