#bloc_form {
    margin: auto;
    max-width: 450px;
    padding: 0 30px;
    width: 100% !important;
}
#bloc_form input[type=text], #bloc_form input[type=password], #bloc_form input[type=email] {
    width: 100%;
}



#form_register #result {
    text-align: right;
    float: right;
}
#form_register .short{
    color: #FF0000;
}
#form_register .weak{
    color: #E66C2C;
}
#form_register .good{
    color: #2D98F3;
}
#form_register .strong{
    color: #006400;
}




#pswd_info {
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    background: #fefefe;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 9999;
}
#pswd_info p {
    margin: 0 0 7px 0;
    padding: 0;
    font-weight: normal;
}
#pswd_info ul, #pswd_info li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#pswd_info ul li {
    margin: 0px 10px;
    padding-left: 20px;
}
.invalid {
    background: url('../../images/icon/invalid.png') no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}
.valid {
    background: url('../../images/icon/valid.png') no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
