{# src/whiteLabel/MainBundle/Resources/views/Common/footer.html.twig #}
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <footer>
            <hr>
            <p>2017 - 2018</p>
        </footer>
    </div>
</nav>
