/*******************************************
            SURCHARGE HEADER.CSS
*******************************************/
html, body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/background/bg2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
@media only screen and (max-width: 767px) {
    body#page_error {
        background-image: url("../../images/background/bg2.jpeg");
    }
}
.navbar {
    background: transparent !important;
}
.navbar::after {
    border-bottom: 0;
}
#header_logo {
    padding: 20px 10px 10px 10px;
}

/*******************************************
            SURCHARGE FORM.CSS
*******************************************/
.bloc-limit {
    background: linear-gradient(to right, rgba(255,255,255,0.1) 0%,rgba(239,239,239,0.1) 50%,rgba(255,255,255,0.1) 100%);
}

/*******************************************
            BLOC BANQUE
*******************************************/
#bloc-banque {
    text-align: right;
}

#bloc-banque .form-group, #bloc-banque .form-horizontal {
    margin-left: 0;
}

#bloc-banque #button_addBanque {
    margin-top: -6px;
    margin-right: 30px;
}

#bloc-banque .wrapper_deleteBanque {
    margin-top: 0px;
    margin-right: 0;
    width: 30px;
    position: absolute;
    right: 0;
}



.wrapper_banque:not(:first-child) {
    margin-top: 50px;
    vertical-align: middle;
}

.wrapper_banque {
    margin-bottom: 15px;
}

.client_banque label {
    padding-right: 20px;
}

.client_banque input[type=text] {
    width: 66.66666667%;
    margin-bottom: 10px;
    padding-left: 15px;
}
