{# src/whiteLabel/BackOfficeBundle/Resources/views/Cheque/RapprochementBancaire/inc/form/file.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-file">
    <fieldset>
        <legend><span class="legend-icon"></span>&nbsp;A compl&eacute;ter</legend>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">
    {{ form_errors(form.file) }}
    <ul id="file-error"></ul>
</div>
<div class="form-group">
    {{ form_label(form.file, "Nom du fichier", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        {{ form_widget(form.file) }}
    </div>
</div>

    </fieldset>
</div>
