{# src/whiteLabel/BackOfficeBundle/Resources/views/Client/inc/form/banque.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-banque">
    <fieldset>
        <legend class="marginTop20"><span class="legend-icon"></span>&nbsp;Banque</legend>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding">
            {{ form_row(form.banque) }}
            <p class="wrapper_addBanque">
                <a href="#" id="button_addBanque" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i>Ajouter une banque</a>
            </p>
        </div>

    </fieldset>

    <hr class="bloc-limit">
</div>
